# Built application files
*.apk
*.aar
*.aab

# Gradle files
.gradle/
build/
*/build/
.build-outputs/

# Local configuration file (sdk path, etc)
local.properties
.env

# Log files
*.log

# Android Studio Navigation editor temp files
.idea/navEditor.xml

# Captures
captures/

# Keystore files & Sensitive credentials
*.jks
*.keystore
debug.keystore
debug.keystore.base64

# OS-specific files
.DS_Store
Thumbs.db
